<h2 class="ui center aligned icon header">
  <i class="circular orange coffee icon"></i>
  Message Me App
</h2>

<div class="ui two column grid">
  <!-- Chatbox Section -->
  <div class="eleven wide column ui fluid raised card chatbox" style="display: flex; flex-direction: column; height: 500px; max-height: 80vh;">
    <div class="content" style="flex: 1; overflow-y: auto;">
      <!-- Message feed with a scrollable area -->
      <div class="ui feed" id="messages-container">
        <% @chatrooms.each do |c| %>
          <div class="event">
            <div class="content">
              <div class="summary">
                <a><%= c.profile.username %></a>
                <div class="date">
                  <%= c.created_at.strftime("%B %d, %Y at %I:%M %p") %>
                </div>
              </div>
              <div class="extra text">
                <%= simple_format(c.body) %>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    </div>

    <!-- Input Box and Submit Button Fixed at the Bottom -->
    <div class="extra content" style="padding: 10px;">
      <%= form_for @message, html: { class: "ui reply form", role: "form" }, url: messages_path do |f| %>
        <div class="field" style="display: flex; flex-direction: row;">
          <div class="ui fluid icon input" style="flex-grow: 1; margin-right: 10px;">
            <%= f.text_field :body, placeholder: "Type your message here..." %>
          </div>
          <%= f.submit class: "ui orange button" do %>
            <i class="bordered inverted orange edit icon"></i> Create Message
          <% end %>
        </div>
      <% end %>
    </div>
  </div>

  <!-- Active Users Section -->
  <div class="four wide column ui fluid raised card active-users">
    <div class="content">
      <div class="header">Active Users</div>
      <div class="ui inverted vertical pointing menu">
        <% @users.each do |c| %>
          <a class="active item">
            <%= c.username %>
          </a>
        <% end %>
      </div>
    </div>
  </div>
</div>
